generated/
node_modules/karma/
tscFiles.txt
Gefin.sln
Gefin.v12.suo
/tscClientFiles.txt
/tscServerFiles
/tscServerFiles.txt
/bin
/obj/Debug
/packages
/src/server/server.js.map
/Jakefile.js.map
/Server.js.map
*.user
/Gefin.v14.suo
